### Creating `pyspark` Session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark_tutorial').\
        getOrCreate()

In [2]:
!ls

cereal.csv  multi_deli_file.txt  multi_delimeted_file_handling.ipynb

In [3]:
sc = spark.sparkContext

In [4]:
# We can't directly read it as CSV ,

In [5]:
df = spark.read.csv('multi_deli_file.txt')

In [6]:
df.show()

+---------+
|      _c0|
+---------+
|Name~|Age|
|     Imam|
|     Imam|
|     Imam|
+---------+

### Lets pass delimeter

#### It will fail saying delimeter can't be more than one character

In [7]:
df= spark.read.option('delimiter','~|').csv('multi_deli_file.txt')

In [8]:
df.show()

+------------+---+
|         _c0|_c1|
+------------+---+
|        Name|Age|
|  Imam, Atif| 25|
|Imam, Kashif| 26|
|  Imam, xxxx| 29|
+------------+---+

In [9]:
# It works because , spark3 supports multicharacter delimeter , but older version doesn't

### For older version or spark

In [10]:
df_multi_char_del = spark.read.text('multi_deli_file.txt')

In [11]:
# passing parameter truncate , show that the text doesn't truncates

In [12]:
df_multi_char_del.show(truncate =0)

+----------------+
|value           |
+----------------+
|Name~|Age       |
|Imam, Atif~|25  |
|Imam, Kashif~|26|
|Imam, xxxx~|29  |
+----------------+

In [13]:
# getting header row

In [14]:
header = df_multi_char_del.first()

In [15]:
header=header.value

In [16]:
header

'Name~|Age'

In [17]:
schema = header.split('~|')

In [18]:
schema

['Name', 'Age']

In [19]:
new_df=df_multi_char_del.filter(df_multi_char_del['value']!=header).rdd.map(lambda x:x[0].split('~|'))\
.toDF(schema)

In [20]:
new_df.show()

+------------+---+
|        Name|Age|
+------------+---+
|  Imam, Atif| 25|
|Imam, Kashif| 26|
|  Imam, xxxx| 29|
+------------+---+

In [21]:
df_multi_char_del.show()

+----------------+
|           value|
+----------------+
|       Name~|Age|
|  Imam, Atif~|25|
|Imam, Kashif~|26|
|  Imam, xxxx~|29|
+----------------+

In [25]:
df_multi_char_del.value

Column<b'value'>

In [28]:
new_df_1=df_multi_char_del.filter(df_multi_char_del['value']!=header).rdd.map(lambda x:x['value'].split('~|'))\
.toDF(schema)

In [30]:
new_df_1.show()

+------------+---+
|        Name|Age|
+------------+---+
|  Imam, Atif| 25|
|Imam, Kashif| 26|
|  Imam, xxxx| 29|
+------------+---+