In [4]:
!ls -ltr *.csv

-rw-r--r-- 1 atif atif 5769361 Nov 14 21:17 weatherHistory.csv
-rw-r--r-- 1 atif atif     305 Nov 15 15:48 marks.csv

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Data_filter").getOrCreate()

In [3]:
sc = SparkSession.sparkContext

In [6]:
df_in = spark.read.csv('marks.csv',header=True,sep='|')

In [7]:
df_in.show(10)

+-------+------+-------+--------------+-----------+
|ROLL_NO|GENDER|SUBJECT|MARKS_OBTAINED|TOTAL_MARKS|
+-------+------+-------+--------------+-----------+
|   1001|  MALE|ENGLISH|            84|        100|
|   1001|  MALE|Physics|            65|        100|
|   1001|  MALE|  Maths|            45|        100|
|   1001|  MALE|Science|            25|        100|
|   1001|  MALE|History|            32|        100|
|   1002|FEMALE|ENGLISH|            84|        100|
|   1002|FEMALE|Physics|            64|        100|
|   1002|FEMALE|  Maths|            45|        100|
|   1002|FEMALE|Science|            25|        100|
|   1002|FEMALE|History|            32|        100|
+-------+------+-------+--------------+-----------+

### Method 1 : Using temp view

In [8]:
# Filtering roll_no where marks is greater than 32

In [9]:
df_in.registerTempTable("marks_temp_view")

In [10]:
df_filter = spark.sql("select * from marks_temp_view where  MARKS_OBTAINED>32")

In [11]:
df_filter.show()

+-------+------+-------+--------------+-----------+
|ROLL_NO|GENDER|SUBJECT|MARKS_OBTAINED|TOTAL_MARKS|
+-------+------+-------+--------------+-----------+
|   1001|  MALE|ENGLISH|            84|        100|
|   1001|  MALE|Physics|            65|        100|
|   1001|  MALE|  Maths|            45|        100|
|   1002|FEMALE|ENGLISH|            84|        100|
|   1002|FEMALE|Physics|            64|        100|
|   1002|FEMALE|  Maths|            45|        100|
+-------+------+-------+--------------+-----------+

## Method 2 : Using filter () API

In [12]:
df_filter_api = df_in.filter("marks_obtained > 32")

In [13]:
df_filter_api.show()

+-------+------+-------+--------------+-----------+
|ROLL_NO|GENDER|SUBJECT|MARKS_OBTAINED|TOTAL_MARKS|
+-------+------+-------+--------------+-----------+
|   1001|  MALE|ENGLISH|            84|        100|
|   1001|  MALE|Physics|            65|        100|
|   1001|  MALE|  Maths|            45|        100|
|   1002|FEMALE|ENGLISH|            84|        100|
|   1002|FEMALE|Physics|            64|        100|
|   1002|FEMALE|  Maths|            45|        100|
+-------+------+-------+--------------+-----------+

In [14]:
## Using multiple conditon

In [15]:
df_fileter_api_multi_cond = df_in.filter("marks_obtained >32 and gender ='MALE'")

In [16]:
df_fileter_api_multi_cond.show()

+-------+------+-------+--------------+-----------+
|ROLL_NO|GENDER|SUBJECT|MARKS_OBTAINED|TOTAL_MARKS|
+-------+------+-------+--------------+-----------+
|   1001|  MALE|ENGLISH|            84|        100|
|   1001|  MALE|Physics|            65|        100|
|   1001|  MALE|  Maths|            45|        100|
+-------+------+-------+--------------+-----------+