https://www.youtube.com/watch?v=k4XXJ3Be_iE

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Load_from_multiple_directory').getOrCreate()

In [4]:
!ls -ltr

total 28
-rw-r--r-- 1 atif atif   56 Nov 14 17:19  multi_deli_file.txt
-rw-r--r-- 1 atif atif 7648 Nov 14 18:04  multi_delimeted_file_handling.ipynb
-rw-r--r-- 1 atif atif 1043 Nov 14 18:07 'Load Data from multiple directory.ipynb'
drwxr-xr-x 2 atif atif 4096 Nov 14 18:09  data2
drwxr-xr-x 2 atif atif 4096 Nov 14 18:10  data3
drwxr-xr-x 2 atif atif 4096 Nov 14 18:10  data1

### We  have to read from data1 and data2 ignoring data3

### method 1

In [10]:
# We can pass * and run but since data3 schema is different it will , show some info at end of DF

In [19]:
df_multi_file = spark.read.csv('data*/test*.csv',header=True)

In [20]:
df_multi_file.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130|   10|    5|     6|   280|      25|    3|     1|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|    2|    8|     8|   135|       0|    3|     1|   1|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|    9|    7|     5|   320|      25|    3|     1|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140|   14|    8|     0|   330|      25|    3|     1| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|    1|   14|     8|    -1|      25|    3|     1|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|     1|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|    1|   11|    14|    30|      25|    2|     1|   1|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|    2|   18|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|    4|   15|     6|   125|      25|    1|     1|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|    5|   13|     5|   190|      25|    3|     1|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|    0|   12|    12|    35|      25|    2|     1|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|    2|   17|     1|   105|      25|    1|     1|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|    0|   13|     9|    45|      25|    2|     1|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|    2|   13|     7|   105|      25|    3|     1| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|    0|   12|    13|    55|      25|    2|     1|   1|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|    0|   22|     3|    25|      25|    1|     1|   1|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|    1|   21|     2|    35|      25|    1|     1|   1|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|    1|   13|    12|    20|      25|    2|     1|   1|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|    0|   12|    13|    65|      25|    2|     1|   1|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|    4|   10|     7|   160|      25|    3|     1| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

In [21]:
# so the DF got messed up because of different file schema

In [22]:
df_multi_file.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: string (nullable = true)
 |-- protein: string (nullable = true)
 |-- fat: string (nullable = true)
 |-- sodium: string (nullable = true)
 |-- fiber: string (nullable = true)
 |-- carbo: string (nullable = true)
 |-- sugars: string (nullable = true)
 |-- potass: string (nullable = true)
 |-- vitamins: string (nullable = true)
 |-- shelf: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- cups: string (nullable = true)
 |-- rating: string (nullable = true)

### so, to overcome this , we can use

In [23]:
# Method 1 : list of input path

In [24]:
input_path_list =['data1/*.csv','data2/*.csv']

In [25]:
df_list_input =spark.read.csv(input_path_list,header=True)

In [26]:
df_list_input.show()

+------+---+
|  Name|age|
+------+---+
|  Atif| 25|
|kashif| 26|
|  asif| 27|
|  imam| 26|
+------+---+

In [27]:
# Method 2 : Using regex pattern

In [30]:
df_reg_input = spark.read.csv('data[1-2]*/*.csv',header=True)

In [31]:
df_reg_input.show()

+------+---+
|  Name|age|
+------+---+
|  Atif| 25|
|kashif| 26|
|  asif| 27|
|  imam| 26|
+------+---+

In [32]:
# Method 3 : curly braces with selected items

In [35]:
df_curl_input = spark.read.csv('data{1,2}*/*.csv',header=True)

In [36]:
df_curl_input.show()

+------+---+
|  Name|age|
+------+---+
|  Atif| 25|
|kashif| 26|
|  asif| 27|
|  imam| 26|
+------+---+